.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background-color: var(--white);
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
}

.hamburger span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--primary-color);
  transition: all 0.3s ease;
}
