@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: #333;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  touch-action: manipulation;
}

h1 {
  line-height: 1.1;
}

button {
  cursor: pointer;
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  touch-action: manipulation;
}

/* Скрываем скролл на iOS */
@supports (-webkit-touch-callout: none) {
  input,
  textarea,
  button,
  select,
  a {
    -webkit-tap-highlight-color: transparent;
  }
}

/* Улучшение стилей при касании на мобильных устройствах */
@media (hover: none) {
  button:active {
    transform: scale(0.97);
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
